<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pathraguay</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Share+Tech+Mono&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/style.css?v=2" />
  <link rel="icon" href="img/favicon.png" type="image/png">

</head>
<body>

<div id="game">

  <div id="start-screen" class="start-screen">
    <h2 class="start-title">Elige tu Origen</h2>
    <div id="clases-container" class="clases-container"></div>
  </div>

  <div id="gameover-overlay">
    <div id="gameover-box">
      <div id="go-icon">💀</div>
      <div id="go-title">Fin del juego</div>
      <div id="go-rule"></div>
      <div id="go-msg">Para seguir jugando. Alias: 6759439-3 -- RUC</div>
      <div id="go-stat-label"></div>
      <button id="go-restart">↺ Intentar de nuevo</button>
    </div>
  </div>
  
  <div id="stats-block">
    <div class="stat-row s-salud" id="row-salud">
      <div class="stat-icon">🫀</div>
      <div class="stat-name">Salud</div>
      <div class="stat-bar-bg">
        <div class="stat-bar-fill" id="ui-salud"></div>
      </div>
      <div class="stat-val" id="val-salud">72%</div>
      <div class="delta-badge" id="d-salud"></div>
    </div>

    <div class="stat-row s-intelecto" id="row-intelecto">
      <div class="stat-icon">📚</div>
      <div class="stat-name">Intelecto</div>
      <div class="stat-bar-bg">
        <div class="stat-bar-fill" id="ui-intelecto"></div>
      </div>
      <div class="stat-val" id="val-intelecto">58%</div>
      <div class="delta-badge" id="d-intelecto"></div>
    </div>

    <div class="stat-row s-laboral" id="row-laboral">
      <div class="stat-icon">💼</div>
      <div class="stat-name">Laboral</div>
      <div class="stat-bar-bg">
        <div class="stat-bar-fill" id="ui-laboral"></div>
      </div>
      <div class="stat-val" id="val-laboral">46%</div>
      <div class="delta-badge" id="d-laboral"></div>
    </div>

    <div class="stat-row s-social" id="row-social">
      <div class="stat-icon">🗣</div>
      <div class="stat-name">Social</div>
      <div class="stat-bar-bg">
        <div class="stat-bar-fill" id="ui-social"></div>
      </div>
      <div class="stat-val" id="val-social">61%</div>
      <div class="delta-badge" id="d-social"></div>
    </div>

    <div class="stat-row s-dinero" id="row-dinero">
      <div class="stat-icon">💸</div>
      <div class="stat-name">Dinero</div>
      <div class="stat-bar-bg"></div>
      <div class="stat-val" id="ui-dinero">₲ 1.250.000</div>
      <div class="delta-badge" id="d-dinero"></div>
    </div>
  </div>

  <div id="card-area">
    <div id="card-inner">
      <div class="hud-sep"></div>
      <div id="name-block">
        <div id="npc-tag">La vida puede tener giros inesperados...</div>
        <div id="npc-name"></div>
      </div>
      <div class="hud-sep"></div>

      <div id="card-image">
        <img id="ui-card-img" src="" alt="ilustracion de la carta" />
      </div>


      <div id="interactive-block">
        <button id="btn-izq" class="nav-btn">❮</button>
        <div id="situation-text"></div>
        <button id="btn-der" class="nav-btn">❯</button>
      </div>

    </div>
  </div>
    <div id="panic-overlay">
    <div id="panic-box">
      <div id="panic-icon">⚠️</div>
      <div id="panic-title">zona crítica</div>
      <div id="panic-rule"></div>
      <div id="panic-msg"></div>
    </div>
  </div>
  <div id="log"></div>

</div>

<script src="/static/app.js?v=2"></script>
</body>
</html>